<%= form_with model: @employeeInfo  do |form| %>
  <div>
    <%= form.label :first_Name %><br>
    <%= form.text_field :first_Name %>
  </div>

  <div>
    <%= form.label :last_Name %><br>
    <%= form.text_field :last_Name %>
  </div>

  <div>
    <%= form.label :empId %><br>
    <%= form.text_field :empId %>
  </div>

   <div>
    <%= form.label :gender %><br />
    <%= form.radio_button :gender, "Male" %> Male
    <%= form.radio_button :gender, "Female" %> Female
    </div>

  <div>
    <%= form.label :highest_Degree %><br>
    <%= form.text_field :highest_Degree %>
  </div>
<br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
